<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.league.goldenboys.leagueapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Admin.Activities.AdminAddOrganizerActivity"
            android:parentActivityName=".NavigationActivity" />
        <activity
            android:name=".Organizer.Activities.CreateLeagueActivity"
            android:parentActivityName=".NavigationActivity" />
        <activity
            android:name=".Admin.Activities.AddNewsActivity"
            android:parentActivityName=".NavigationActivity" />
        <activity android:name=".Organizer.Activities.LeagueDetailActivity" />
        <activity android:name=".OtherModule.UploadImageActivity" />
        <activity android:name=".Organizer.Activities.SubmitEntryActivity" />
        <activity android:name=".Organizer.Activities.PendingEntryActivity" />
        <activity android:name=".Organizer.Activities.DetailTeamEntryActivity" />
        <activity android:name=".Organizer.Activities.ApprovedEntryActivity" />
        <activity android:name=".Organizer.Activities.MatchMakerActivity" />
        <activity android:name=".Organizer.Activities.ListOfCategoryEntryActivity" />
        <activity android:name=".Organizer.Activities.OraganizerModulesActivity" />
        <activity android:name=".Receptionist.Activity.AddReservationActivity" />
        <activity android:name=".Organizer.Activities.OrganizerMatchMakerActivity" />
        <activity android:name=".Organizer.Activities.OrganizerMatchOverviewActivity" />
        <activity android:name=".Customer.Activities.UserNotificationDetailActivity" />
        <activity android:name=".Organizer.Activities.MatchListActivity" />
        <activity android:name=".Organizer.Activities.MatchListDetailedViewActivity" />
        <activity android:name=".Organizer.Activities.FourTeamRoundRobinActivity" />
        <activity android:name=".Organizer.Activities.RoundRobinScheduleActivity" />
        <activity android:name=".Organizer.Activities.RoundRobinMatchListActivity" />
        <activity android:name=".Organizer.Activities.RoundRobinMatchDetailActivity" />
        <activity android:name=".OtherModule.SelectItemsActivity" />
        <activity android:name=".Organizer.Activities.OrganizerNotificationDetailedActivity"></activity>
    </application>

</manifest>